{% if is_granted('ROLE_COMPANY') %}
    <div class="modal fade" id="deleteModal{{ offer.id }}" tabindex="-1" aria-labelledby="modalDelete"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm delete</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>If you really want to delete this offer, enter your password and click
                        Delete</p>
                    <form method="post" action="{{ path('company_offers_delete', {'slug': data.slug}) }}">
                        <input type="password" name="password" placeholder="Mot de passe"
                               class="form-control">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete' ~ data.slug) }}">
                        <button type="submit" class="btn btn-danger mt-2" data-bs-submit="delete-offer-button">Delete</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <form method="post" action="{{ path('admin_offer_delete', {'slug': data.slug}) }}"
          onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data.slug) }}">
        <button class="btn btn-danger">Delete</button>
    </form>
{% endif %}
