{% extends "base.html.twig" %}

{% block title %}Applicants{% endblock %}

{% block body %}
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
        {% if is_granted("ROLE_COMPANY") %}
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path('offers_index') }}">Offers</a></li>
        {% else %}
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_offer_index') }}">Offers</a></li>
        {% endif %}
        <li class="breadcrumb-item active">Applicant</li>
    </ol>

    <h1 class="mt-4">Applicant</h1>

    <table class="table">
        <thead>
        <tr>
            <th>LastName</th>
            <th>FirstName</th>
            <th>mail</th>
            <th>Resum</th>
        </tr>
        </thead>
        <tbody>
        {% for applicant in applicants %}
            <tr>
                <td>{{ applicant.lastName }}</td>
                <td>{{ applicant.firstName }}</td>
                <td>{{ applicant.email }}</td>
                <td><a href="{{ asset('uploads/media/') }}{{ applicant.resum }}">{{ applicant.resum }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
