{% extends 'base.html.twig' %}

{% block title %}Offers index{% endblock %}

{% block body %}
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active">Offers</li>
    </ol>

    <h1 class="mt-4">Offers index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Post</th>
            <th>Date of creation</th>
            <th>Society</th>
            <th>Contract type</th>
            <th>Status</th>
            <th>Nb of applies</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.postName }}</td>
                <td>{{ offer.createdAt | date('d/m/Y', "europe/Paris") }}</td>
                <td>{{ offer.company }}</td>
                <td>
                    {% if offer.contractType == 1 %}
                        Full Time
                    {% elseif offer.contractType == 2 %}
                        Part Time
                    {% elseif offer.contractType == 3 %}
                        Freelance
                    {% else %}
                        Stage
                    {% endif %}
                </td>
                <td>
                    {% if offer.isActive == 1 %}
                        Published
                    {% elseif offer.isActive == 2 %}
                        Draft
                    {% else %}
                        Waiting for review
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_COMPANY') %}
                        <a href="{{ path('company_offers_applicants', {'slug': offer.slug}) }}">{{ offer.applicants | length }}</a>
                    {% else %}
                        <a href="{{ path('admin_offer_applicants', {'slug': offer.slug}) }}">{{ offer.applicants | length }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_COMPANY') %}
                        <a href="{{ path('company_offers_show', {'slug': offer.slug}) }}"
                           class="btn btn-primary">Show</a>
                        <a href="{{ path('company_offers_edit', {'slug': offer.slug}) }}"
                           class="btn btn-outline-primary">Edit</a>
                    {% else %}
                        <a href="{{ path('admin_offer_show', {'slug': offer.slug}) }}"
                           class="btn btn-primary">Show</a>
                        <a href="{{ path('admin_offer_edit', {'slug': offer.slug}) }}"
                           class="btn btn-outline-primary">Edit</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        {% include ("offer/_delete_form.html.twig") with {'data': offer} %}
                    {% else %}
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal{{ offer.id }}">
                            Delete
                        </button>
                        {% include ("offer/_delete_form.html.twig") with {'data': offer} %}

                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_COMPANY') %}
        <a href="{{ path('company_offers_new') }}" class="btn btn-primary">Create new</a>
    {% else %}
        <a href="{{ path('admin_offer_create') }}" class="btn btn-primary">Create new</a>
    {% endif %}
{% endblock %}
