{% extends 'base.html.twig' %}

{% block title %}Offers{% endblock %}

{% block body %}
{% if is_granted('ROLE_COMPANY') %}
    <ol class="breadcrumb mb-4 mt-3">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{ path('company_offers_index') }}">Offers</a></li>
        <li class="breadcrumb-item active">Add offer</li>
    </ol>
    {% else %}
    <ol class="breadcrumb mb-4 mt-3">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_offer_index') }}">Offers</a></li>
        <li class="breadcrumb-item active">Add offer</li>
    </ol>
    {% endif %}

    <h1 class="mt-4">
        {% if offer.id == null %}
            Create new Offer
        {% else %}
            Update your offer "{{ offer.postName }}"
        {% endif %}
    </h1>

    {{ form_start(form) }}

    <div class="container">
        <legend>Global information</legend>
        <div class="row mb-3">
            <div class="col-md-3">
                <div class="form-floating">
                    {{ form_row(form.postName) }}
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-floating">
                    {{ form_row(form.contractType) }}
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-floating">
                    {{ form_row(form.isActive) }}
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-floating">
                    {{ form_row(form.applyUrl) }}
                </div>
            </div>
            {% if is_granted("ROLE_ADMIN") %}
                <div class="col-md-3">
                    <div class="form-floating">
                        {{ form_row(form.company) }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row mb-12">
            <div class="col-md-12">
                <div class="form-floating">
                    {{ form_row(form.descr) }}
                </div>
            </div>
        </div>
        <hr>
        <legend>Prerequis section</legend>
        <div class="row mb-12">
            <div class="col-md-12">
                <div class="form-floating">
                    {{ form_row(form.prerequis) }}
                </div>
            </div>
        </div>
        <div class="row mb-12">
            <div class="col-md-12">
                <span>Prerequis</span>
                <div class="form-floating">
                    {{ form_row(form.prerequisArray) }}
                    <bouton class="btn btn-info add-details-prerequis-btn">More</bouton>
                </div>
            </div>
        </div>
        <hr>
        <legend>Role section</legend>
        <div class="row mb-12">
            <div class="col-md-12">
                <div class="form-floating">
                    {{ form_row(form.role) }}
                </div>
            </div>
        </div>

        <div class="row mb-12">
            <div class="col-md-12">
                <span>Roles</span>
                <div class="form-floating">
                    {{ form_row(form.roleArray) }}
                    <bouton class="btn btn-info add-details-role-btn">More</bouton>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>

    {{ form_row(form._token) }}

    {{ form_end(form) }}
    <hr>
{% endblock %}
