{% extends 'base.html.twig' %}

{% block title %}Offers{% endblock %}

{% block body %}

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{ path('company_offers_index') }}">Offers</a></li>
        <li class="breadcrumb-item active">{{ offer.postName }}</li>
    </ol>
    <h1>Offer</h1>


    <table class="table">
        <tbody>
        <tr>
            <th>Post</th>
            <td>{{ offer.postName }}</td>
        </tr>
        <tr>
            <th>Date of publication</th>
            <td>{{ offer.createdAt | date('d/m/Y', "europe/Paris") }}</td>
        </tr>
        <tr>
            <th>Type of contract</th>
            <td>
                {% if  offer.contractType == 1 %}
                    Full Time
                {% elseif offer.contractType == 2 %}
                    Part Time
                {% elseif offer.contractType == 3 %}
                    Freelance
                {% else %}
                    Stage
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ offer.descr }}</td>
        </tr>
        <tr>
            <th>Prerequis description</th>
            <td>{{ offer.prerequis }}</td>
        </tr>
        <tr>
            <th>Prerequis</th>
            <td>
                <ul class="prerequis_list">
                    {% for p in offer.prerequisArray %}
                        <li class="role_item">{{ p.prerequisArray }}</li>
                    {% endfor %}
                </ul></td>
        </tr>
        <tr>
            <th>Role description</th>
            <td>{{ offer.role }}</td>
        </tr>
        <tr>
            <th>Role</th>
            <td>
                <ul class="role_list">
                    {% for r in offer.roleArray %}
                        <li class="role_item">{{ r.roleArray }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                {% if offer.isActive == 1 %}
                    Published
                {% elseif offer.isActive == 2 %}
                    Draft
                {% else %}
                    Waiting for review
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_COMPANY') %}
    <a href="{{ path('company_offers_edit', {'slug': offer.slug}) }}" class="btn btn-primary">Edit</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#deleteModal{{ offer.id }}">
            Delete
        </button>
        {% include ("offer/_delete_form.html.twig") with {'data': offer} %}

    <hr>
    <a href="{{ path('company_offers_index') }}" class="btn btn-outline-info">Back to list</a>
        {% else %}
            <a href="{{ path('admin_offer_edit', {'slug': offer.slug}) }}" class="btn btn-primary">Edit</a>
            {% include ("offer/_delete_form.html.twig") with {'data': offer} %}

            <hr>
            <a href="{{ path('admin_offer_index') }}" class="btn btn-outline-info">Back to list</a>

    {% endif %}
{% endblock %}
