<form method="post" action="{{ path('admin_company_delete', {'name': company.name}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.name) }}">
    <button class="btn btn-danger">Delete</button>
</form>