{% extends "base.html.twig" %}

{% block title %}All societies{% endblock %}

{% block body %}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="">Admin</a></li>
    <li class="breadcrumb-item active">Societies</li>
</ol>

<h1 class="mt-4">List of all societies</h1>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Companies list
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>Company name</th>
                    <th>Company contact</th>
                    <th>Company contact email</th>
                    <th>Number of offers</th>
                    <th>Ask for delete</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Company name</th>
                    <th>Company contact</th>
                    <th>Company contact email</th>
                    <th>Number of offers</th>
                    <th>Ask for delete</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
                <tbody>
                {% for company in companies %}
                    <tr>
                        <td>{{ company.name }}</td>
                        <td>{{ company.lastname }} {{ company.firstname }}</td>
                        <td>{{ company.email }}</td>
                        <td>{{ company.offers|length }}</td>
                        <td>
                            {% if company.isDelete == true %}
                                <span class="badge bg-danger">Yes</span>
                                {% else %}
                                <span class="badge bg-info">No</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_company_show', {'slug': company.slug}) }}"
                               class="btn btn-outline-primary">Show</a>
                            - <a
                                    href="{{ path('admin_company_update', {'slug': company.slug}) }}"
                                    class="btn btn-outline-secondary">Edit</a>
                            {{ include('admin/company/_delete.html.twig') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}