{% extends "base.html.twig" %}

{% block title %}{{ company.name }}{% endblock %}

{% block body %}

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_company_index') }}">Societies</a></li>
        <li class="breadcrumb-item active">{{ company.name }}</li>
    </ol>

    <h1 class="mt-4">{{ company.name | title }}</h1>

    <hr>

    <h2>Company informations</h2>
    <div class="row">
        <div class="col-md-4 align-self-center" style="background-color:{{ company.color }}">
            <img src="{{ asset('uploads/media/') }}{{ company.logo }}" alt="Logo of {{ company.name }}" class="img-fluid">
        </div>
        <div class="col-md-4">
            <p><strong>Location</strong></p>
            <p>{{ company.location }}</p>
        </div>
        <div class="col-md-4">
            <p><strong>Website</strong></p>
            <p><a href="{{ company.website }}" target="_blank">{{ company.website }}</a></p>
        </div>
        <div class="col-md-4">
            <p><strong>Want to delete his account ?</strong></p>
            <p>
                {% if company.isDelete == true %}
                    <button class="btn btn-danger">Yes</button>
                {% else %}
                    <button class="btn btn-info">No</button>
                {% endif %}
            </p>
        </div>
    </div>

    <h3>Contact informations</h3>
    <div class="row">
        <div class="col-md-4">
            <p><strong>Name</strong></p>
            <p>{{ company.lastname }} {{ company.firstname }}</p>
        </div>
        <div class="col-md-4">
            <p><strong>Email</strong></p>
            <p><a href="mailto:{{ company.email }}">{{ company.email }}</a></p>
        </div>
    </div>

    <hr>

    <h3>Its offers</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Post</th>
            <th scope="col">Posted At</th>
            <th scope="col">Nb of applies</th>
        </tr>
        </thead>
        <tbody>
        {% for  offer in company.offers %}
        <tr>
            <th scope="row">{{ offer.id }}</th>
            <td>{{ offer.postName }}</td>
            <td>{{ offer.createdAt|date('d/m/y H:i') }}</td>
            <td>{{ offer.applicants|length }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
