{% extends "base.html.twig" %}

{% block title %}Update{% endblock %}

{% block body %}
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="">Admin</a></li>
        <li class="breadcrumb-item">Society</li>
        <li class="breadcrumb-item active">Update</li>
    </ol>

    <h1 class="mt-4">Update society {{ company.name }}</h1>

    {{ form_start(form) }}

    <legend>Company</legend>
    <div class="row mb-3">
        <div class="col-md-3">
            <div class="form-floating">
                {{ form_row(form.logo) }}
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-floating">
                {{ form_row(form.color) }}
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-floating">
                {{ form_row(form.location) }}
            </div>
        </div>
    </div>

    <legend>Contact Company</legend>
    <div class="row mb-3">
        <div class="col-md-3">
            <div class="form-floating">
                {{ form_row(form.lastname) }}
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-floating">
                {{ form_row(form.firstname) }}
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-floating">
                {{ form_row(form.email) }}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

    {{ form_end(form) }}
    <hr>
    {{ include('admin/company/_delete.html.twig') }}

{% endblock %}
