{% extends "base.html.twig" %}

{% block title %}All offers{% endblock %}

{% block body %}
    <h1 class="mt-4">Our offers</h1>

    <section class="grid">
        <div class="row">
            {% for offer in offers %}
                {% include 'commun/parts/_cards.html.twig' with {offer: offer} %}
            {% endfor %}
        </div>
        <div class="navigation mt-5">
            {{ knp_pagination_render(offers) }}
        </div>
    </section>
{% endblock %}
