{% extends "base.html.twig" %}

{% block title %}{{ offer.postname | title }}{% endblock %}

{% block body %}
    <h1 class="mt-4">{{ offer.postName | title }}</h1>

    <div class="row mb-4">
        <div class="col-md-6" style="background-color: {{ offer.company.color }};">
            <img src="{{ asset('uploads/media/') }}{{ offer.company.logo }}" alt="Logo for {{ offer.company.name }}" class="card-img-top">
        </div>
        <div class="col-md-6">
            <p><strong>Posted at</strong> {{ offer.createdAt |date('d/m/y H:i') }}</p>
            <p><strong>Offer type:</strong>
                {% if offer.contractType == 1 %}
                    Full Time
                {% elseif offer.contractType == 2 %}
                    Part Time
                {% elseif offer.contractType == 3 %}
                    Freelance
                {% elseif offer.contractType == 4 %}
                    Stage
                {% endif %}</p>
            <p><a href="{{ offer.applyUrl }}" class="btn btn-primary btn-lg">Apply</a></p>
        </div>
    </div>

    <hr>

    <div class="row">
        <h3>Job description</h3>
        <p>{{ offer.descr }}</p>

        <h3>Job requirements</h3>
        <p>{{ offer.prerequis }}</p>
        <ul>
            {% for r in offer.prerequisArray %}
                <li>{{ r.prerequisArray }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="row">
        <h3>Your role</h3>
        <p>{{ offer.role }}</p>
        <ul>
            {% for role in offer.roleArray %}
                <li>{{ role.roleArray }}</li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}
