{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    <h1 class="mt-4">Dashboard</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Your offers</h2>
            <p>Here is a diagram showing your number of job postings per day, regardless of the type of offer or status.
                Currently, you have {{ nbOffersOnLine }} job postings online.</p>
            {{ render_chart(chart, {'id': 'my-chart'}) }}
        </div>

        <div class="col-md-6">
            <h2>Unread applications.</h2>
            <p>Currently, you have {{ nbApplicants }} applications. {{ applicantsUnread|length }} are unread.</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Resum</th>
                </tr>
                </thead>
                <tbody>
                {% for applicant in applicantsUnread %}
                    <tr>
                        <th scope="row"><a href="{{ path('company_applicants_show', {'slug': applicant.slug}) }}">{{ applicant.id }}</a></th>
                        <td>{{ applicant.firstName }}</td>
                        <td>O{{ applicant.lastName }}</td>
                        <td><a href="{{ asset('uploads/media/') }}{{ applicant.resum }}">Show resum</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
