{% extends 'base.html.twig' %}

{% block title %}Delete my account{% endblock %}

{% block body %}
    <h1 class="mt-4">Delete my account</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="">Profil</a></li>
        <li class="breadcrumb-item active">Delete my account</li>
    </ol>

    {{ form(form) }}
{% endblock %}