{% extends 'base.html.twig' %}

{% block title %}Profil Company{% endblock %}

{% block body %}

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
        <li class="breadcrumb-item active">Profil</li>
    </ol>

    <h1 class="mt-4">Hello {{ user.lastname }}</h1>

    <div class="card mb-4">
        <div class="card-body">
            <h2>Company informations</h2>
            <img src="{{ asset('uploads/media/') }}{{ user.logo }}" alt="Logo for {{ user.name }}">
            <p>Color : {{ user.color }} </p>
            <p>Location : {{ user.location }}</p>
            <h2>Contact informations</h2>
            <p>Last Name contact : {{ user.lastname }} </p>
            <p>First Name contact : {{ user.firstname }} </p>
            <p>Email contact : {{ user.email }} </p>
            <a href="{{ path('company_update') }}" class="btn btn-outline-primary">Edit</a>
            {% if user.isDelete == true %}
                <p>You already ask for account delete</p>
            {% else %}
                <a href="{{ path('company_delete') }}" class="btn btn-outline-danger">Ask for delete</a>
            {% endif %}
        </div>
    </div>

{% endblock %}