<p>Hi {{ user.firstname }} {{ user.lastname }}</p>
<p>We have received your account deletion request for the following reason: "{{ motif }}"</p>
<p>An administrator will process your request soon.</p>