<p>{{ applicant.firstName }} {{ applicant.lastName|upper }},</p>

<p>Our recruitment campaign for {{ offer.postName }} is now over.<br>
    If you have not been contacted by {{ offer.company.name }}, it means that we have not accepted your application.<br>
    We thank you for your interest in {{ offer.company.name }} and hope to be able to offer you a more suitable position
    in the near future.</p>

<p>Cordially<br>
    {{ offer.company.firstName }} {{ offer.company.lastName|upper }}</p>