<h1>Hi {{ user.username }}! Don't forget to activate your account !</h1>
<p>Your registration on DevJobs requires validation. Click the link below to activate your account!</p>
<p><a href="{{ absolute_url(path('company_activate', {token: token})) }}">{{ absolute_url(path('company_activate', {token: token})) }}</a></p>
<p>This link will expire in 1 hour</p>
<p>Thank you for using our application!</p>
