<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <title>
        DevJobs - {% block title %}{% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="sb-nav-fixed">
{% include "commun/parts/_header.html.twig" %}
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        {% include "commun/parts/_navbar.html.twig" %}
    </div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4 mt-5">
                <section class="grid">
                    {% if app.user and app.user.isVerified == false %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            <div class="alert-message">
                                <p><strong>Account not verified:</strong> <a href="{{ path('company_resend') }}">Send
                                        again mail</a></p>
                            </div>
                        </div>
                    {% endif %}
                        {% include 'commun/parts/_flash.html.twig' %}
                </section>
                {% block body %}{% endblock %}
            </div>
        </main>
        {% include "commun/parts/_footer.html.twig" %}
    </div>
</div>
</body>
</html>
