{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-4">Our last offers</h1>

    <section class="grid">
        <div class="row">
            {% for offer in offers %}
                {% include 'commun/parts/_cards.html.twig' with {offer: offer} %}
            {% endfor %}
        </div>

        <div class="row mt-3">
            <div class="col-4">
                <a href="{{ path('offers_index') }}" class="btn btn-outline-warning">Show all offers</a>
            </div>
        </div>
    </section>
{% endblock %}