<div class="card offer-card">
    <img src="{{ asset('uploads/media/') }}{{ offer.company.logo }}" class="card-img-top" alt="{{ offer.company.name }}" style="background-color: {{ offer.company.color }}">
    <div class="card-body">
        <h5 class="card-title">{{ offer.postName }} - {{ offer.company.name }}</h5>
        <p class="card-text">{{ offer.descr|slice(0, 150) }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {% if offer.contractType == 1 %}
                Full Time
            {% elseif offer.contractType == 2 %}
                Part Time
            {% elseif offer.contractType == 3 %}
                Freelance
            {% elseif offer.contractType == 4 %}
                Stage
            {% endif %}
        </li>
    </ul>
    <div class="card-body">
        <div class="col">
            <a href="{{ path('offers_show', {'slug': offer.slug }) }}" class="card-link">Detail</a>
        </div>
        <div class="col">
            <p>Posted at {{ offer.createdAt|date('m/d/Y - h:m') }}</p>
        </div>
    </div>
</div>