{% if is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('admin_applicants_delete', {'slug': applicant.slug}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ applicant.slug) }}">
    <button class="btn btn-danger">Delete</button>
</form>
{% else %}
<div class="modal fade" id="deleteModal{{ data.id }}" tabindex="-1" aria-labelledby="modalDelete"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>If you really want to delete this applicant, enter your password and click
                    Delete</p>
                <form method="post" action="{{ path('company_applicants_delete', {'slug': data.slug}) }}">
                    {{ dump(data) }}
                    <input type="password" name="password" placeholder="Mot de passe"
                           class="form-control">
                    <input type="hidden" name="_token"
                           value="{{ csrf_token('delete' ~ data.slug) }}">
                    <button type="submit" class="btn btn-danger mt-2" data-bs-submit="delete-offer-button">Delete</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}