{% extends "base.html.twig" %}

{% block title %}Create Applicant{% endblock %}

    {% block body %}

{% if is_granted('ROLE_ADMIN') %}
<ol class="breadcrumb mb-4 mt-3">
    <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item"><a href="{{ path('offers_index') }}">Offers</a></li>
    <li class="breadcrumb-item active">Add Applicant</li>
</ol>
    <h1 class="mt-4">Add Applicant</h1>
    {% else %}
        <h1 class="mt-4">Apply to {{ offer.postName }}</h1>
    {% endif %}


    <div class="container">
        {{ form_start(form) }}

        <div class="row mb-3">
            <div class="col-md-3">
                <div class="form-floating">
                    {{ form_row(form.firstname) }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    {{ form_row(form.lastname) }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    {{ form_row(form.phoneNumber) }}
                </div>
            </div>
        </div>

        <div class="row-mb-3">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-md-4">
                    <div class="form-floating">
                        {{ form_row(form.offer) }}
                    </div>
                </div>
            {% endif %}

            <div class="col-md-4">
                <div class="form-floating">
                    {{ form_row(form.resum) }}
                </div>
            </div>

            <div class="row-mb-3">
                <div class="col-md-12">
                    <div class="form-floating">
                        {{ form_row(form.comment) }}
                    </div>
                </div>
            </div>

            <div class="col-12 mt-4">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

            {{ form_row(form._token) }}

            {{ form_end(form) }}
        </div>

        {% endblock %}
