{% extends "base.html.twig" %}

{% block title %}Show Applicants{% endblock %}

{% block body %}

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
        {% if is_granted("ROLE_ADMIN") %}
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Applicant</li>
        {% else %}
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active">Applicant</li>
        {% endif %}
    </ol>


    <h1 class="mt-4">Applicant index</h1>
    <table class="table">
        <thead>
        <tr>
            <th>LastName</th>
            <th>FirstName</th>
            <th>Email</th>
            <th>Offer</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for applicant in applicants %}
        <tr>
            <td>{{ applicant.lastname }}</td>
            <td>{{ applicant.firstname }}</td>
            <td>{{ applicant.email }}</td>
            <td>{{ applicant.offer.postName }}</td>
            {% if is_granted("ROLE_ADMIN") %}
                <td>
                    <a href="{{ path('admin_applicants_show', {'slug': applicant.slug}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('admin_applicants_update', {'slug': applicant.slug}) }}"
                       class="btn btn-outline-primary">Edit</a>
                    {{ include('applicant/_delete.html.twig') }}
                </td>
            {% else %}
                <td>
                    <a href="{{ path('company_applicants_show', {'slug': applicant.slug}) }}"
                       class="btn btn-outline-primary">Show</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal{{ applicant.id }}">
                        Delete
                    </button>
                    {% include ('applicant/_delete.html.twig') with {'data': applicant} %}
                </td>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
