{% extends "base.html.twig" %}

{% block title %}Show apply{% endblock %}

{% block body %}

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
        {% if is_granted("ROLE_ADMIN") %}
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_applicants_index') }}">Applicant</a></li>
        {% else %}
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path('company_applicants_index') }}">Applicant</a></li>
        {% endif %}
        <li class="breadcrumb-item active">{{ applicant.lastName }} {{ applicant.firstName }}</li>
    </ol>

    <h1 class="mt-4">{{ applicant.lastName }} {{ applicant.firstName }}</h1>

    <hr>
    <div class="container">
        <h2>Profil</h2>
        <div class="row">
            <div class="col-md-3">
                <p><strong>Last name:</strong> {{ applicant.lastName }}</p>
            </div>
            <div class="col-md-3">
                <p><strong>First Name:</strong> {{ applicant.firstName }}</p>
            </div>
            <div class="col-md-3">
                <p><strong>email:</strong> <a href="mailto:{{ applicant.email }}">{{ applicant.email }}</a></p>
            </div>
            <div class="col-md-3">
                <p><strong>Phone Number:</strong> <a
                            href="tel:{{ applicant.phoneNumber }}">{{ applicant.phoneNumber }}</a></p>
            </div>
            <div class="col-md-3">
                <p><strong>Resum:</strong> <a href="{{ asset('uploads/media/' ~ applicant.resum) }}" target="_blank">{{ applicant.resum }}</a></p>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>His offer:</h2>

        <p><a href="{{ path('offers_show', {'slug': applicant.offer.slug}) }}">{{ applicant.offer.postname }}</a></p>
    </div>


    <hr>
    <div class="container">
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_applicants_update', {'slug': applicant.slug}) }}" class="btn btn-primary">Edit</a>
            {{ include('applicant/_delete.html.twig') }}
        {% else %}
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteModal{{ applicant.id }}">
                Delete
            </button>
            {% include ('applicant/_delete.html.twig') with {'data': applicant} %}
        {% endif %}
    </div>

{% endblock %}
